.admin_panel_login{
    margin: 90px auto 0;
    padding-bottom: 90px;
    padding-inline: 17px;
    h2{
        text-align: center;
        font-family: "NotoSansArmenian600";
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.01em;
        color: #B31312;
    }
    p{
        font-family: "NotoSansArmenian600";
        color: red;
        font-size: 18px;
        margin-top: 3px;
    }
}

.submitDisabled {
    background-color: #4A8FCE;
}

.admin_panel_inputs{
    max-width: 488px;
    margin: 0 auto;
    div {
        margin-top: 40px;
    }
    input{
        height: 60px;
        background: linear-gradient(0deg, #F0F5F9, #F0F5F9),
        linear-gradient(0deg, #2B2A4C, #2B2A4C);
        border-radius: 6px;
        width: 100%;
        font-size: 24px;
        padding-left: 6px;
    }
    label{
        font-family: "NotoSansArmenian600";
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.01em;

    }
    button {
        width: 100%;
        margin-top: 40px;
        font-family: "NotoSansArmenian";
        font-size: 28px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0.01em;
        color: #C9D6DF;
        border-radius: 14px;
        border: none;
        background: #B31312;
        cursor: pointer;
        
        &:hover{
            background: #981110;
        }
    }
}



.admin_panel_checkbox{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        margin-top: 0;
    }
    input{
        width: 24px;
        height: 24px;
        vertical-align: bottom;
    }
    span{
        font-family: "NotoSansArmenian";
        font-size: 21px;
        letter-spacing: 0.01em;
        margin-left: 5px;
        color: #2B2A4C;
    }
    p{
        font-family: "NotoSansArmenian";
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.01em;
        color: #B31312;
        text-decoration: underline;
    }
}


@media screen and (max-width:640px) {
    .admin_panel_inputs{
        div{
            margin-top: 20px;
        }
        input[type=button]{
            font-size: 24px;
        }
    }
    .admin_panel_checkbox{
        div{
            margin-top: 0;
        }
        input{
            width: 18px;
            height: 18px;

        }
        span{
            font-size: 16px;
        }
        p{
            font-size: 16px;
        }
    }
    .admin_panel_login{
        margin-top: 20px;
        h2{
            font-size: 24px;
        }
    }
}