.admin_contents_container{
    margin: 40px 120px 0;
    padding-bottom: 24px;
    display: flex;
    gap: 20px;

}

.admin_contents_container_left{
    height: 833px;
    background-color: #C9D6DF;
    border-radius: 20px;
    a>h2{
        padding-left: 20px;
        width: 285px;
        font-family: "NotoSansArmenian600";
        font-size: 24px;
        line-height: 60px;
        letter-spacing: 0.01em;
        color: #2B2A4C;
        cursor: pointer;


    }
    
    .admin_content_active{
        color: #B31312;
    }
}

.admin_contents_container_right{
        width: 77%;
        >div:first-of-type{
            background-color: #C9D6DF;
            border-radius: 20px;
            margin-bottom: 40px;
            >h2{
                font-family: "NotoSansArmenian600";
                font-size: 26px;
                line-height: 80px;
                letter-spacing: 0.01em;
                color: #B31312;
                padding-left: 20px;
            }
        }
}


@media screen and (max-width:1000px) {
    .admin_contents_container{
        margin: 40px 50px 0;
        display: block;
    }
    .admin_contents_container_right{
        width: 100%;
        >div:first-of-type{
            display: none;
        }
    }
    .admin_contents_container_left{
        margin-bottom: 36px;
        height: 144px;
        width: 328px;
    }
}

@media screen and (max-width:550px) {
    .admin_contents_container{
        margin: 24px 16px 0;
    }
}

@media screen and (max-width:355px) {
    .admin_contents_container{
        margin-inline: 10px;
    }
    .admin_contents_container_left{
        width: 285px;
    }
}

