.readable_news{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    img{
        margin-right: 15px;
        border-radius: 6px;
        width: 300px;
        height: 192px;
    }
    
}

.readable_news:hover{
    .readable_news_data>h3{
        color: #B31312;
    }
}

.readable_news_data{
    vertical-align: top;
    span{
        font-size: 12px;
        font-family: "DejavuSans";
        color: rgba(38, 38, 38, 0.60);
        
    }
    h3,p{
        max-width: 245px;
        height: 90px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h3{
        font-family: "ArmHmksBebasNeue";
        font-size: 32px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.32px;
        margin: 5px 0 6px;
        text-transform: uppercase;
        -webkit-line-clamp: 2;

    }
    p{
        font-family: "DejaVuSans";
        font-size: 16px;
        color: #52616B;
        line-height: 175%;
        letter-spacing: -0.6px;
        -webkit-line-clamp: 3;
        
    }
    
}